@model EmployeeViewModel
<tr>
      <th scope="row">1</th>
      <td>@Model.FirstName</td>
      <td>@Model.LastName</td>
      <td>@Model.DOB</td>
      <td>@Model.DepartmentName</td>
      <td>

      @Html.ActionLink("Edit", "Edit", new { id=@Model.Id }) |

      @Html.ActionLink("Delete", "Delete", new { id=@Model.Id })

</tr>  