@model dynamic
<tr>
      <th scope="row">@Model.Counter</th>
      <td>@Model.Employee.FirstName</td>
      <td>@Model.Employee.LastName</td>
      <td>@Model.Employee.DOB</td>
      <td>@Model.Employee.DepartmentName</td>
      <td>

      @Html.ActionLink("Edit", "Edit", new { id=@Model.Counter }) |

      @Html.ActionLink("Delete", "Delete", new { id=@Model.Counter })

</tr>  