@model dynamic
<tr>
    <th scope="row">@Model.Counter</th>
    <td>@Model.Employee.FirstName</td>
    <td>@Model.Employee.LastName</td>
    <td>@Model.Employee.DOB</td>
    <td>@Model.Employee.DepartmentName</td>
</tr>